{% extends "app/base.html" %}
{% load static %} 

{% block titulo %} 
Busqueda
 {% endblock %}
 
{% block contenido %}


                <div class="col-lg-3 d-none d-lg-block order-2 order-lg-3">
                    <div class="buy-tickets">
                        <!--<a class="btn gradient-bg" href="#">Buy Tickets</a>-->
                    </div><!-- .buy-tickets -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container-fluid -->
    </div><!-- .header-bar -->

    <div class="page-header events-news-page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <header class="entry-header">
                        <h1 class="entry-title">Resultados</h1>
                    </header>
                </div>
            </div>
        </div>
    </div>
</header><!-- .site-header -->

<div class="container">
    <div class="row">
        <div class="col-12">
            <article class="events-news-post">
                <header class="entry-header">
                    <h2 class="entry-title"><a href="#">Empresas</a></h2>

                    <div class="entry-meta flex align-items-center">
                        <!--<div class="posted-author"><a href="#">by James Williams</a></div>

                        <div class="post-comments"><a href="#">2 Comments</a></div>-->
                    </div>
                </header>

                <!-- <figure>
                    <center>
                    <a href="#"><img src="{% static 'images/10.png' %}" alt=""></a>
                </center>
                    <div class="posted-date"><span>Feb</span><span>11</span><span>‘18</span></div>
                </figure> -->

                <div class="entry-content">
                    <h3 class="entry-title"> Grupo Bimbo</h3>
                    <p>En Grupo Bimbo buscamos gente con sentido humano que aporte su talento e ideas para mejorar su entorno laboral y personal, dejando huella en lo que más le apasiona: Alimentar un mundo mejor.
                        Nosotros, los colaboradores, somo los que hacemos de esta una empresa innovadora y abierta a nuevas formas de pensar. Somos motor para seguir creciendo y ser los mejores. Y para que eso suceda, buscamos el cómo sí; impulsamos nuestro potencial y creamos el espacio y las oportunidades para que desarrollemos nuestro talento.
                    </p>
                <center> <a href="https://www.grupobimbo.com/">información aqui</a></center>   
                </div>
                <div class="entry-content">
                    <h3 class="entry-title"> Grupo Aurrera</h3>
                    <p>Bodega Aurrera es una empresa minorista de descuento en México. En sus tiendas vende productos cómo alimentos, ropa y otra mercancía. La empresa es una subsidiaria de Walmart. Tiene su sede en la Ciudad de México. La empresa tiene varios formatos de su tienda, usando formatos diferentes dependiendo en la población en la cual esta ubicada.
                    </p>
                <center> <a href="https://mx.jobrapido.com/?r=auto&w=bodega+aurrera&utm_source=adwords&utm_medium=cpc&utm_campaign=ADWORDS_MX_JOB_SEARCH_EXACT&utm_agid=6033717341&utm_kwid=29342048511&gclid=CjwKCAjwx46TBhBhEiwArA_DjNvmF2L1Kysh6yTCiaBPQpleZrnEvM7YFayaCSZC1SkINeNN82uysBoCwJQQAvD_BwE">información aqui</a></center>   
                </div>
                <div class="entry-content">
                    <h3 class="entry-title"> Grupo Marmolesnatura</h3>
                    <p>Somos una empresa comprometida con nuestros colaboradores, dedicada a formar líderes en base al respeto, bienestar y desarrollo profesional, generando una adaptación continua de cada uno de los miembros de Mármoles Natura, promoviendo el crecimiento laboral como uno de nuestros objetivos principales ya que estamos convencidos de que el capital humano es el motor que impulsa el crecimiento de nuestra compañía.
                        Mármoles Natura se identifica por la oportunidad de crecimiento para sus empleados y la constante innovación es por eso que proporcionamos la oportunidad de empleo a jóvenes estudiantes y recién egresados que tengan la visión de participar en diversos proyectos de crecimiento en conjunto con la empresa.
                        Consideramos a nuestros colaboradores como el factor más importante para alcanzar el éxito; ya que es precisamente el capital humano el que tiene las habilidades y conocimientos necesarios para manejar el cambio continúo que marcan los ciclos y retos de la vida organizacional
                    </p>
                <center> <a href="https://www.google.com/search?q=empresa+marmolnatura+vacantes&rlz=1C1UEAD_esMX989MX989&sxsrf=APq-WBsPmzElGTbAob7veQxhdspuT9OKrg:1650761069705&ei=bZ1kYoCtKomZkPIPtcuimAY&uact=5&oq=empresa+marmolnatura+vacantes&gs_lcp=Cgdnd3Mtd2l6EAM6BwgAEEcQsAM6BwghEAoQoAE6BQghEKABOgQIIRAVOgYIABAWEB46BQgAEIAESgQIQRgASgQIRhgAUI8GWIQ_YNJAaANwAXgAgAHQAYgBhh2SAQYwLjIxLjGYAQCgAQHIAQjAAQE&sclient=gws-wiz&ibp=htl;jobs&sa=X&ved=2ahUKEwiTqoyivKv3AhXMKkQIHWFiDecQutcGKAB6BAgCEAQ#htivrt=jobs&htidocid=Ol0sUZ9GxVgAAAAAAAAAAA%3D%3D&fpstate=tldetail">información aqui</a></center>   
                </div>
            </article>

            <article class="events-news-post">
                <header class="entry-header">
                    <h2 class="entry-title"><a href="#">Empleos más solicitados</a></h2>

                    <div class="entry-meta flex align-items-center">
                       <!-- <div class="posted-author"><a href="#">by James Williams</a></div>

                        <div class="post-comments"><a href="#">2 Comments</a></div>-->
                    </div>
                </header>

                <!-- <figure>
                    <a href="#"><img src="{% static 'images/medicina.pgn' %}" alt=""></a>

                    <div class="posted-date"><span>Feb</span><span>11</span><span>‘18</span></div>
                </figure> -->

                <div class="entry-content">
                    <p>A continuación, te presentamos los 10 empleos más solicitados en México.
                        <ul>
                            <li>Almacenista</li>
                            <li>Ejecutivo de ventas</li>
                            <li>Auxiliar administrativo</li>
                            <li>Asistente de Dirección</li>
                            <li> Asesor financiero</li>
                            <li>Analista Contable</li>
                            <li>Recepcionista</li>
                            <li>Gerente de Ventas</li>
                            <li>Representante de Ventas</li>
                            <li>Contador</li>
                        </ul>
                        </p>
                </div>
            </article>

            <article class="events-news-post">
                <header class="entry-header">
                    <h2 class="entry-title"><a href="#">Áreas laborales</a></h2>

                    <div class="entry-meta flex align-items-center">
                       <!-- <div class="posted-author"><a href="#">by James Williams</a></div>

                        <div class="post-comments"><a href="#">2 Comments</a></div>-->
                    </div>
                </header>
                <div class="entry-content">
                    <p>Por área laboral, Ventas concentró 31% de los puestos ofertados por las empresas en 2015, seguido por los puestos administrativos (14%), 
                        Tecnologías de la Información y Sistemas (10%), Contabilidad (8%) y Recursos Humanos (6%).
                        <ul>
                            <li>Contabilidad</li>
                            <li> Recursos Humanos</li>
                            <li>Ventas</li>
                            <li>Ingeniería</li>
                            <li>Administración</li>
                            <li>Salud</li>
                            <li>Tecnologías de la Información y Sistemas</li>
                            <li>Mercadotecnia, Publicidad y Relaciones Públicas</li>
                            <li>Logística, Transportación y Distribución</li>
                            <li>Manufactura, Producción y Operación</li>
                        </ul>   
                    </p>
                </div>

                <figure>
                    <center>
                    <a href="#"><img src="{% static 'images/areas.png' %}" alt=""></a>
                </center>
                   <!-- <div class="posted-date"><span>Feb</span><span>11</span><span>‘18</span></div>-->
                </figure>
            </article>
            <!-- <article class="events-news-post">
                <header class="entry-header">
                    <h2 class="entry-title"><a href="#">3. SERVICIOS CREATIVOS </a></h2>

                    <div class="entry-meta flex align-items-center"> -->
                       <!-- <div class="posted-author"><a href="#">by James Williams</a></div>

                        <div class="post-comments"><a href="#">2 Comments</a></div>-->
                    <!-- </div>
                </header> -->

                <!-- <figure>
                    <center>
                    <a href="#"><img src="{% static 'images/mundial.png' %}" alt=""></a>
                </center> -->
                   <!-- <div class="posted-date"><span>Feb</span><span>11</span><span>‘18</span></div>-->
                <!-- </figure>

                <div class="entry-content">
                    <p>Cuando el teletrabajo pasó de ser una tendencia a una realidad más generalizada, las empresas aprovecharon esta oportunidad y empezaron a buscar recursos creativos fuera de sus oficinas. Esto generó un auge para los trabajadores autónomos que aprovecharon la coyuntura del home office. Concretamente, el sector de redacción creció un 95 % en 2020, ya que muchas empresas se centraron en generar más contenido en línea. Las oportunidades se concentraron en Ciudad de México, Guadalajara, Torreón, Villahermosa y Puebla.

                        Puestos con mayor oferta: redactor, animador, ilustrador, artista y artista 3D.
                        Aptitudes: ilustración, redacción, pintura, escritura creativa, diseño gráfico, animación, Motion Graphics y modelado 3D.</p>
                </div>
            </article> -->
        </div>
    </div>

    <!-- <div class="row">
        <div class="col-12">
            <div class="blog-pagination">
                <ul class="flex align-items-center">
                    <li><a href="#">01</a></li>
                    <li class="active"><a href="#">02</a></li>
                    <li><a href="#">03</a></li>
                </ul>
            </div>
        </div>
    </div> -->
</div>

<!--<div class="newsletter-subscribe">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <header class="entry-header">
                    <h2 class="entry-title">Subscribe to our newsletter to get the latest trends & news</h2>
                    <p>Join our database NOW!</p>
                </header>

                <div class="newsletter-form">
                    <form class="flex flex-wrap justify-content-center align-items-center">
                        <div class="col-md-12 col-lg-3">
                            <input type="text" placeholder="Name">
                        </div>

                        <div class="col-md-12 col-lg-6">
                            <input type="email" placeholder="Your e-mail">
                        </div>

                        <div class="col-md-12 col-lg-3">
                            <input class="btn gradient-bg" type="submit" value="Subscribe">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>-->

{% endblock %}