{% extends "app/base.html" %}
{% load static %} 



{% block titulo %} 
 Perfiles
 {% endblock %}

 
{% block contenido %}


                <div class="col-lg-3 d-none d-lg-block order-2 order-lg-3">
                    <div class="buy-tickets">
                        <a class="btn gradient-bg" href="#">Curriculum</a>
                    </div><!-- .buy-tickets -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container-fluid -->
    </div><!-- .header-bar -->

    <div class="page-header events-page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <header class="entry-header">
                        <h1 class="entry-title">Perfiles</h1>
                    </header>
                </div>
            </div>
        </div>
    </div>
</header><!-- .site-header -->

<form class="events-search">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3">
                <input type="date" placeholder="Date">
            </div>

            <div class="col-12 col-md-3">
                <input type="text" placeholder="Event">
            </div>

            <div class="col-12 col-md-3">
                <input type="text" placeholder="Location">
            </div>

            <div class="col-12 col-md-3">
                <input class="btn gradient-bg" type="submit" value="Enviar">
            </div>
        </div>
    </div>
</form>

<div class="container">
    <div class="row events-list">
        <div class="col-12 col-lg-6 single-event">
            <figure class="events-thumbnail">
                <a href="https://www.cvwizard.es/consejos/perfil-profesional-cv"><img src="{% static 'images/11.png' %}" alt=""></a>
            </figure>

            <div class="event-content-wrap">
                <header class="entry-header flex justify-content-between">
                    <div>
                        <h2 class="entry-title"><a href="https://www.cvwizard.es/consejos/perfil-profesional-cv">Perfil profesional en el cv</a></h2>

                        <!--<div class="event-location"><a href="#">Consulta màs informaciòn.</a></div>-->

                         <!-- <div class="event-date">Consulta màs Informaciòn</div>-->
                    </div>

                    <!-- <div class="event-cost flex justify-content-center align-items-center">
                        from<span>$89</span>
                    </div>-->
                </header>

               <!-- <footer class="entry-footer">
                    <a href="#">Buy Tikets</a>
                </footer>-->
            </div>
        </div>

        <div class="col-12 col-lg-6 single-event">
            <figure class="events-thumbnail">
                <a href="https://www.up-spain.com/blog/5-tecnicas-para-mejorar-tu-productividad-en-el-trabajo/"><img src="{% static 'images/hoooo.png' %}" alt=""></a>
            </figure>

            <div class="event-content-wrap">
                <header class="entry-header flex justify-content-between">
                    <div>
                        <h2 class="entry-title"><a href="https://www.up-spain.com/blog/5-tecnicas-para-mejorar-tu-productividad-en-el-trabajo/"></a>Mejora tu Productividad</h2>

                       <!-- <div class="event-location"><a href="#">Ford Field  2000 Brush St, Detroit, MI 48226, EE. UU.</a></div>-->

                        <!--<div class="event-date">May 29, 2018 @ 8:00 Pm - May 30, 2018 @ 4:00 Am</div>-->
                    </div>

                   <!-- <div class="event-cost flex justify-content-center align-items-center">
                        from<span>$89</span>
                    </div>-->
                </header>

                <!--<div class="entry-content">
                    <p>Vestibulum eget lacus at mauris sagittis varius. Etiam ut venenatis dui. Nullam tellus risust lacus at mauris sagittis variusut.</p>
                </div>-->

               <!-- <footer class="entry-footer">
                    <a href="#">Buy Tikets</a>
                </footer>-->
            </div>
        </div>

        <div class="col-12 col-lg-6 single-event">
            <figure class="events-thumbnail">
                <a href="https://scholar.harvard.edu/files/vrios/files/201508_mexicoemployment.pdf"><img src="{% static 'images/empleos.png' %}" alt=""></a>
            </figure>

            <div class="event-content-wrap">
                <header class="entry-header flex justify-content-between">
                    <div>
                        <h2 class="entry-title"><a href="https://scholar.harvard.edu/files/vrios/files/201508_mexicoemployment.pdf">Empleos</a></h2>

                       <!-- <div class="event-location"><a href="#">Ford Field  2000 Brush St, Detroit, MI 48226, EE. UU.</a></div>

                        <div class="event-date">May 29, 2018 @ 8:00 Pm - May 30, 2018 @ 4:00 Am</div>-->
                    </div>

                   <!-- <div class="event-cost flex justify-content-center align-items-center">
                        from<span>$89</span>
                    </div>-->
                </header>

                <!--<footer class="entry-footer">
                    <a href="#">Buy Tikets</a>
                </footer>-->
            </div>
        </div>

        <div class="col-12 col-lg-6 single-event">
            <figure class="events-thumbnail">
                <a href="#"><img src="{% static 'images/entrevista.png' %}" alt=""></a>
            </figure>

            <div class="event-content-wrap">
                <header class="entry-header flex justify-content-between">
                    <div>
                        <h2 class="entry-title"><a href="https://www.occ.com.mx/blog/25-preguntas-clave-en-una-entrevista-laboral/">Preguntas para una entrevista de Trabajo</a></h2>

                        <!--<div class="event-location"><a href="#">Ford Field  2000 Brush St, Detroit, MI 48226, EE. UU.</a></div>

                        <div class="event-date">May 29, 2018 @ 8:00 Pm - May 30, 2018 @ 4:00 Am</div>
                    </div>

                    <div class="event-cost flex justify-content-center align-items-center">
                        from<span>$89</span>
                    </div>-->
                </header>

               <!-- <div class="entry-content">
                    <p>Vestibulum eget lacus at mauris sagittis varius. Etiam ut venenatis dui. Nullam tellus risust lacus at mauris sagittis variusut.</p>
                </div>

                <footer class="entry-footer">
                    <a href="#">Buy Tikets</a>
                </footer>
            </div>
        </div>

        <div class="col-12 col-lg-6 single-event">
            <figure class="events-thumbnail">
                <a href="#"><img src="{% static 'images/event-5.jpg' %}" alt=""></a>
            </figure>

            <div class="event-content-wrap">
                <header class="entry-header flex justify-content-between">
                    <div>
                        <h2 class="entry-title"><a href="#">Hotel California in Concert</a></h2>

                        <div class="event-location"><a href="#">Ford Field  2000 Brush St, Detroit, MI 48226, EE. UU.</a></div>

                        <div class="event-date">May 29, 2018 @ 8:00 Pm - May 30, 2018 @ 4:00 Am</div>
                    </div>

                    <div class="event-cost flex justify-content-center align-items-center">
                        from<span>$89</span>
                    </div>
                </header>

                <div class="entry-content">
                    <p>Vestibulum eget lacus at mauris sagittis varius. Etiam ut venenatis dui. Nullam tellus risust lacus at mauris sagittis variusut.</p>
                </div>

                <footer class="entry-footer">
                    <a href="#">Buy Tikets</a>
                </footer>
            </div>
        </div>

        <div class="col-12 col-lg-6 single-event">
            <figure class="events-thumbnail">
                <a href="#"><img src="{% static 'images/event-6.jpg' %}" alt=""></a>
            </figure>

            <div class="event-content-wrap">
                <header class="entry-header flex justify-content-between">
                    <div>
                        <h2 class="entry-title"><a href="#">DJ Festival in town</a></h2>

                        <div class="event-location"><a href="#">Ford Field  2000 Brush St, Detroit, MI 48226, EE. UU.</a></div>

                        <div class="event-date">May 29, 2018 @ 8:00 Pm - May 30, 2018 @ 4:00 Am</div>
                    </div>

                    <div class="event-cost flex justify-content-center align-items-center">
                        from<span>$89</span>
                    </div>
                </header>
                <footer class="entry-footer">
                    <a href="#">Buy Tikets</a>
                </footer>
            </div>
        </div>

        <div class="col-12 col-lg-6 single-event">
            <figure class="events-thumbnail">
                <a href="#"><img src="{% static 'images/event-1.jpg' %}" alt=""></a>
            </figure>

            <div class="event-content-wrap">
                <header class="entry-header flex justify-content-between">
                    <div>
                        <h2 class="entry-title"><a href="#">U2 Concert in Detroit</a></h2>

                        <div class="event-location"><a href="#">Ford Field  2000 Brush St, Detroit, MI 48226, EE. UU.</a></div>

                        <div class="event-date">May 29, 2018 @ 8:00 Pm - May 30, 2018 @ 4:00 Am</div>
                    </div>

                    <div class="event-cost flex justify-content-center align-items-center">
                        from<span>$89</span>
                    </div>
                </header>

                <footer class="entry-footer">
                    <a href="#">Buy Tikets</a>
                </footer>
            </div>
        </div>

        <div class="col-12 col-lg-6 single-event">
            <figure class="events-thumbnail">
                <a href="#"><img src="{% static 'images/event-2.jpg' %}" alt=""></a>
            </figure>

            <div class="event-content-wrap">
                <header class="entry-header flex justify-content-between">
                    <div>
                        <h2 class="entry-title"><a href="#">Summer Festival in Detroit</a></h2>

                        <div class="event-location"><a href="#">Ford Field  2000 Brush St, Detroit, MI 48226, EE. UU.</a></div>

                        <div class="event-date">May 29, 2018 @ 8:00 Pm - May 30, 2018 @ 4:00 Am</div>
                    </div>

                    <div class="event-cost flex justify-content-center align-items-center">
                        from<span>$89</span>
                    </div>
                </header>

                <div class="entry-content">
                    <p>Vestibulum eget lacus at mauris sagittis varius. Etiam ut venenatis dui. Nullam tellus risust lacus at mauris sagittis variusut.</p>
                </div>

                <footer class="entry-footer">
                    <a href="#">Buy Tikets</a>
                </footer>
            </div>
        </div>

        <div class="col-12 col-lg-6 single-event">
            <figure class="events-thumbnail">
                <a href="#"><img src="{% static 'images/event-3.jpg' %}" alt=""></a>
            </figure>

            <div class="event-content-wrap">
                <header class="entry-header flex justify-content-between">
                    <div>
                        <h2 class="entry-title"><a href="#">Costume Festival Detroit</a></h2>

                        <div class="event-location"><a href="#">Ford Field  2000 Brush St, Detroit, MI 48226, EE. UU.</a></div>

                        <div class="event-date">May 29, 2018 @ 8:00 Pm - May 30, 2018 @ 4:00 Am</div>
                    </div>

                    <div class="event-cost flex justify-content-center align-items-center">
                        from<span>$89</span>
                    </div>
                </header>
            </div>
        </div>-->
    </div>
</div>
</div>
</div>
</div>

                {% endblock %}
               