{% extends "app/base.html" %}
{% load static %} 



{% block titulo %} 
 EMPLEOS
 {% endblock %}

 
{% block contenido %}


                <div class="col-lg-3 d-none d-lg-block order-2 order-lg-3">
                    <div class="buy-tickets">
                        <!-- <a class="btn gradient-bg" href="{% url 'registro' %}">Registro</a> -->
                    </div><!-- .buy-tickets -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container-fluid -->
    </div><!-- .header-bar -->

    <div class="page-header events-page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <header class="entry-header">
                        <h1 class="entry-title">EMPLEOS - VACANTES</h1>
                    </header>
                </div>
            </div>
        </div>
    </div>
</header><!-- .site-header -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="contact-form">
                <h3 class="text-center">Registro Usuario</h3>
                &nbsp;
                <form class="row" method="post">
                    {% csrf_token %}
                    {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <div id="form_errors">
                            {% for key, value in form.errors.items %}
                            <strong>{{ value }}</strong>
                            {% endfor %}
                        </div>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span arial-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}
                    <div class="col-12 col-md-4"><input type="text" placeholder="username" name="{{ form.username.name}}" id="username" value=""></div>
                    <div class="col-12 col-md-4"><input type="text" placeholder="first_name" name="{{ form.first_name.name}}" id="first_name" value=""></div>
                    <div class="col-12 col-md-4"><input type="text" placeholder="last_name" name="{{ form.last_name.name}} "id="last_name" value=""></div>
                    <div class="col-12 col-md-4"><input type="email" placeholder="email" name="{{ form.email.name}}" id="email" value=""></div>
                    <div class="col-12 col-md-4"><input type="password" placeholder="password1" name="{{ form.password1.name}}" id="password1" value=""></div>
                    <div class="col-12 col-md-4"><input type="password" placeholder="password2" name="{{ form.password2.name}}"  id="password2" value="" ></div>
                    
                    <div class=" col-12 flex justify-content-center">
                        <input class="btn gradient-bg" type="reset" value="Reset From">
                        &nbsp;
                        <input class="btn gradient-bg" type="reset" value="Reset">
                    </div>
                        &nbsp;
                    <div class="col-12 flex justify-content-center">
                        <p>Ya tienes cuenta? Ingresa <a href="{% url 'login' %}">Aqui</a> |
                        <a href="{% url 'inicio' %}">Regresar a Inicio</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- <form class="events-search">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3">
                <input type="date" placeholder="Date">
            </div>

            <div class="col-12 col-md-3">
                <input type="text" placeholder="Event">
            </div>

            <div class="col-12 col-md-3">
                <input type="text" placeholder="Location">
            </div>

            <div class="col-12 col-md-3">
                <input class="btn gradient-bg" type="submit" value="Enviar">
            </div>
        </div>
    </div>
</form> -->

<div class="container"> 
    <center>
        <header class="entry-header">
            <h1 class="entry-title">VACANTES</h1>
        </header> 
    </center>
    <div class="row events-list">
        <div class="col-12 col-lg-6 single-event">
            <figure class="events-thumbnail">
                <a href=""><img src="{% static 'images/ventas.png' %}" alt=""></a>
            </figure>

            <div class="event-content-wrap">
                <header class="entry-header flex justify-content-between">
                    <div>
                        <h1 class="entry-title"><a href="">Vacantes - Ventas</a></h1>

                        <!-- <div class="event-location"><a href="#">Consulta màs informaciòn.</a></div> -->

                         <div class="event-date">El trabajo de ventas consiste en ganarse el interés de clientes potenciales y luego convertirlos en clientes reales. Los vendedores son necesarios en casi los oficios y sectores, además tienen la oportunidad de ganar salarios altos.</div>
                    </div>

                     <!-- <div class="event-cost flex justify-content-center align-items-center">
                        from<span>$89</span>
                    </div> -->
                </header>
               <center>
                     <footer class="entry-footer">
                        <a href="#">Ver </a>
                    </footer>
                 </center>
            </div>
        </div>

        <div class="col-12 col-lg-6 single-event">
            <figure class="events-thumbnail">
                <a href=""><img src="{% static 'images/contabilidad.png' %}" alt=""></a>
            </figure>

            <div class="event-content-wrap">
                <header class="entry-header flex justify-content-between">
                    <div>
                        <h1 class="entry-title"><a href=""></a>Vacantes - Contabilidad</h1>

                       <!-- <div class="event-location"><a href="#">Ford Field  2000 Brush St, Detroit, MI 48226, EE. UU.</a></div>

                        <div class="event-date">May 29, 2018 @ 8:00 Pm - May 30, 2018 @ 4:00 Am</div> -->
                    </div>

                   <!-- <div class="event-cost flex justify-content-center align-items-center">
                        from<span>$89</span>
                    </div>-->
                </header>

                <div class="entry-content">
                    <p>Se dedica al estudio de la obtención de capital para la inversión en bienes productivos y de las decisiones de inversión de los ahorradores.
                        Mantener oportuna y correcta la aplicación del sistema contable y presupuestal.
                    </p>
                </div>
                <!-- <center>
                        <footer class="entry-footer">
                            <a href="#">Ver</a>
                        </footer>
                </center> -->
            </div>
        </div>

        <div class="col-12 col-lg-6 single-event">
            <figure class="events-thumbnail">
                <a href=""><img src="{% static 'images/tecnologia.png' %}" alt=""></a>
            </figure>

            <div class="event-content-wrap">
                <header class="entry-header flex justify-content-between">
                    <div>
                        <h2 class="entry-title"><a href="">Vacante -Tecnologìas</a></h2>

                       <!-- <div class="event-location"><a href="#">Ford Field  2000 Brush St, Detroit, MI 48226, EE. UU.</a></div>

                        <div class="event-date">May 29, 2018 @ 8:00 Pm - May 30, 2018 @ 4:00 Am</div>-->
                    </div>

                   <!-- <div class="event-cost flex justify-content-center align-items-center">
                        from<span>$89</span>
                    </div>-->
                </header>
                <div class="entry-content">
                    <p>comprende el proceso de producir de manera efectiva un software o sistema que sea funcional tras cumplir con un conjunto de requisitos, por lo cual el objetivo principal de los profesionales en esta área radica en diseñar y desarrollar un programa
                    </p>
                </div>

                <center>
                    <footer class="entry-footer">
                        <a href="#">Ver</a>
                    </footer>
            </center>
            </div>
        </div>

        <div class="col-12 col-lg-6 single-event">
            <figure class="events-thumbnail">
                <a href="#"><img src="{% static 'images/recep.png' %}" alt=""></a>
            </figure>

            <div class="event-content-wrap">
                <header class="entry-header flex justify-content-between">
                    <div>
                        <h2 class="entry-title"><a href="">Vacante - Recepcionistas</a></h2>

                        <!--<div class="event-location"><a href="#">Ford Field  2000 Brush St, Detroit, MI 48226, EE. UU.</a></div>

                        <div class="event-date">May 29, 2018 @ 8:00 Pm - May 30, 2018 @ 4:00 Am</div>
                    </div>

                    <div class="event-cost flex justify-content-center align-items-center">
                        from<span>$89</span>
                    </div>-->
                </header>

                 <div class="entry-content">
                    <p>Los recepcionistas dan la bienvenida a los clientes u otro tipo de visitantes. Sentados o de pie tras un escritorio o mostrador, reciben a la gente cuando llega, y atienden las preguntas de los visitantes.</p>
                </div> 
                    <center>
                <footer class="entry-footer">
                    <a href="#">Ver</a>
                </footer>
            </center>
            </div>
        </div>

        <!-- <div class="col-12 col-lg-6 single-event">
            <figure class="events-thumbnail">
                <a href="#"><img src="{% static 'images/event-5.jpg' %}" alt=""></a>
            </figure>

            <div class="event-content-wrap">
                <header class="entry-header flex justify-content-between">
                    <div>
                        <h2 class="entry-title"><a href="#">Hotel California in Concert</a></h2>

                        <div class="event-location"><a href="#">Ford Field  2000 Brush St, Detroit, MI 48226, EE. UU.</a></div>

                        <div class="event-date">May 29, 2018 @ 8:00 Pm - May 30, 2018 @ 4:00 Am</div>
                    </div>

                    <div class="event-cost flex justify-content-center align-items-center">
                        from<span>$89</span>
                    </div>
                </header>

                <div class="entry-content">
                    <p>Vestibulum eget lacus at mauris sagittis varius. Etiam ut venenatis dui. Nullam tellus risust lacus at mauris sagittis variusut.</p>
                </div>

                <footer class="entry-footer">
                    <a href="#">Buy Tikets</a>
                </footer>
            </div>
        </div>

        <div class="col-12 col-lg-6 single-event">
            <figure class="events-thumbnail">
                <a href="#"><img src="{% static 'images/event-6.jpg' %}" alt=""></a>
            </figure>

            <div class="event-content-wrap">
                <header class="entry-header flex justify-content-between">
                    <div>
                        <h2 class="entry-title"><a href="#">DJ Festival in town</a></h2>

                        <div class="event-location"><a href="#">Ford Field  2000 Brush St, Detroit, MI 48226, EE. UU.</a></div>

                        <div class="event-date">May 29, 2018 @ 8:00 Pm - May 30, 2018 @ 4:00 Am</div>
                    </div>

                    <div class="event-cost flex justify-content-center align-items-center">
                        from<span>$89</span>
                    </div>
                </header>
                <footer class="entry-footer">
                    <a href="#">Buy Tikets</a>
                </footer>
            </div>
        </div>

        <div class="col-12 col-lg-6 single-event">
            <figure class="events-thumbnail">
                <a href="#"><img src="{% static 'images/event-1.jpg' %}" alt=""></a>
            </figure>

            <div class="event-content-wrap">
                <header class="entry-header flex justify-content-between">
                    <div>
                        <h2 class="entry-title"><a href="#">U2 Concert in Detroit</a></h2>

                        <div class="event-location"><a href="#">Ford Field  2000 Brush St, Detroit, MI 48226, EE. UU.</a></div>

                        <div class="event-date">May 29, 2018 @ 8:00 Pm - May 30, 2018 @ 4:00 Am</div>
                    </div>

                    <div class="event-cost flex justify-content-center align-items-center">
                        from<span>$89</span>
                    </div>
                </header>

                <footer class="entry-footer">
                    <a href="#">Buy Tikets</a>
                </footer>
            </div>
        </div>

        <div class="col-12 col-lg-6 single-event">
            <figure class="events-thumbnail">
                <a href="#"><img src="{% static 'images/event-2.jpg' %}" alt=""></a>
            </figure>

            <div class="event-content-wrap">
                <header class="entry-header flex justify-content-between">
                    <div>
                        <h2 class="entry-title"><a href="#">Summer Festival in Detroit</a></h2>

                        <div class="event-location"><a href="#">Ford Field  2000 Brush St, Detroit, MI 48226, EE. UU.</a></div>

                        <div class="event-date">May 29, 2018 @ 8:00 Pm - May 30, 2018 @ 4:00 Am</div>
                    </div>

                    <div class="event-cost flex justify-content-center align-items-center">
                        from<span>$89</span>
                    </div>
                </header>

                <div class="entry-content">
                    <p>Vestibulum eget lacus at mauris sagittis varius. Etiam ut venenatis dui. Nullam tellus risust lacus at mauris sagittis variusut.</p>
                </div>

                <footer class="entry-footer">
                    <a href="#">Buy Tikets</a>
                </footer>
            </div>
        </div>

        <div class="col-12 col-lg-6 single-event">
            <figure class="events-thumbnail">
                <a href="#"><img src="{% static 'images/event-3.jpg' %}" alt=""></a>
            </figure>

            <div class="event-content-wrap">
                <header class="entry-header flex justify-content-between">
                    <div>
                        <h2 class="entry-title"><a href="#">Costume Festival Detroit</a></h2>

                        <div class="event-location"><a href="#">Ford Field  2000 Brush St, Detroit, MI 48226, EE. UU.</a></div>

                        <div class="event-date">May 29, 2018 @ 8:00 Pm - May 30, 2018 @ 4:00 Am</div>
                    </div>

                    <div class="event-cost flex justify-content-center align-items-center">
                        from<span>$89</span>
                    </div>
                </header>
            </div>
        </div>--> 
    </div>
</div>
</div>
</div>
</div>

                {% endblock %}
               